!src/investor/*
*.pyc
*.nfs*
*.egg-info
*.csv
*.pyd
*.log
docs/html/*
docs/pdf/*
docs/epub/*
docs/confluence/*
docs/source/api/*
dist/*
wheelhouse/*
*.doctree
*.envrc
env/*
.tox/*
*/PKG-INFO
*.so
.venv/*
\.venv/
.vagrant/*
.pytest_cache/*
reports/*-py*
.coverage
reports/*
*.c
.idea/*
notebooks/.ipynb_checkpoints/*
test-reports/*
Pipfile
./build/*
.ipynb_checkpoints/*
*-checkpoint.ipynb
lib/*
wheelhouse/*
frozen_requirements.txt
.env
mypy
.mypy_cache
.DS_Store
*.DS_Store
.DS_Store?
.DS_Store
._*
.vscode

data/*